<div class="container-fluid p-0 m-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#">
                    <img src="~/images/SlidingImages/Untitled.png" style="height:40vh" class="d-block w-100 " alt="...">
                    @*<div class="carousel-caption">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>*@
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img src="~/images/SlidingImages/Untitled1.png" style="height:40vh" class="d-block w-100" alt="...">
                    @*<div class="carousel-caption">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>*@
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img src="~/images/SlidingImages/Buy-Books-Online1.jpg" style="height:40vh" class="d-block w-100" alt="...">
                   @* <div class="carousel-caption">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>*@
                </a>
            </div>
            <div class="carousel-item">
                <a href="#">
                    <img src="~/images/SlidingImages/Untitled2.png" style="height:40vh" class="d-block w-100" alt="...">
                    @*<div class="carousel-caption">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>*@
                </a>
            </div><div class="carousel-item">
                <a href="#">
                    <img src="~/images/SlidingImages/Untitled3.png" style="height:40vh" class="d-block w-100" alt="...">
                    @*<div class="carousel-caption">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>*@
                </a>
            </div><div class="carousel-item">
                <a href="#">
                    <img src="~/images/SlidingImages/World-Book-day-Offer-Amazon.png" style="height:40vh" class="d-block w-100" alt="...">
                    @*<div class="carousel-caption">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>*@
                </a>
            </div><div class="carousel-item">
                <a href="#">
                    <img src="~/images/SlidingImages/-book-bazaar-17th-to-21st-june.jpg" style="height:40vh" class="d-block w-100" alt="...">
                    @*<div class="carousel-caption">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>*@
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <i class="fa-solid fa-circle-chevron-left fa-2xl"></i>
            </span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon fw-bolder" aria-hidden="true">
                <i class="fa-solid fa-circle-chevron-right fa-2xl"></i>
            </span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

