
<div class="bg-light">
    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 fw-bolder">About us page</h1>
                <p class="lead text-muted mb-0">At our BookStore, we are passionate about literature and dedicated to providing an exceptional reading experience for book lovers of al
                    l ages. With a vast collection of books spanning various genres, we aim to ignite the imagination, inspire, and enlighten our customers.</p>
                
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Our Vision:</h2>
                <p class="font-italic text-muted mb-4">
                    We envision a world where reading is cherished, where books are celebrated as gateways to knowledge, entertainment, and personal growth.
                    We strive to foster a community of readers who are engaged, curious, and open to exploring diverse perspectives.
                </p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 "><img src="~/images/OtherImage/kisspng-bookselling-online-book-digital-library-software-library.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <p class="font-italic text-muted mb-4">
                    Whether you're a lifelong reader or just starting your literary journey, our BookStore is here to accompany you every step of the way.
                    Join us in celebrating the written word and let the magic of books transport you to new worlds of imagination and knowledge.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <h2 class="text-primary">HAPPY READING!</h2>
            <h3>The BookStore Team</h3>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container py-2">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
            </div>
        </div>

        <div class="row text-center justify-content-center">
            <!-- Team item-->
            <div class="col-xl-3 col-md-4 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-2">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Sanjib Jana</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-facebook fa-bounce fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-twitter fa-shake fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-square-instagram fa-fade fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-linkedin fa-bounce fa-2xl"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-md-4 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-2">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Surajit das</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-facebook fa-bounce fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-twitter fa-shake fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-square-instagram fa-fade fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-linkedin fa-bounce fa-2xl"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-md-4 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-2">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Samaresh Jana</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-facebook fa-bounce fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-twitter fa-shake fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-square-instagram fa-fade fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-li<i"><i class="fa-brands fa-linkedin fa-bounce fa-2xl"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-md-4 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-2">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Satyajit Khanra</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-facebook fa-bounce fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-twitter fa-shake fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-square-instagram fa-fade fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-linkedin fa-bounce fa-2xl"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-md-4 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-2">
                    <img src="~/images/OtherImage/nabanil.jpeg" alt="NABANIL PANDA" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Nbanil Panda</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100075330111741" class="social-link"><i class="fa-brands fa-facebook fa-bounce fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-twitter fa-shake fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-square-instagram fa-fade fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-linkedin fa-bounce fa-2xl"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-md-4 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-2">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Shubhankar Patra</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-facebook fa-bounce fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-twitter fa-shake fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-square-instagram fa-fade fa-2xl"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa-brands fa-linkedin fa-bounce fa-2xl"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

        </div>
    </div>
</div>

